.member-list .ant-list {
	width: 95vw;
}

@media only screen and (min-width: 600px) {
	.member-list .ant-list {
		min-width: 570px;
		width: 70vw;
	}
}

@media only screen and (min-width: 1024px) {
	.member-list .ant-list {
		min-width: 700px;
		width: 50vw;
		font-size: 1.2rem;
		transform-origin: center top;
		transform: scale(1.3);
	}
}
