.modal {
	text-align: center;
}

.modal > * {
	margin: 10px 0;
}

.modal .ant-select-selection {
	background-color: #3b3b4d;
	border: 1px solid #17171f;
}

.modal__radio-group {
	width: 100%;
}

.modal__radio-group > * {
	width: 50%;
}

.modal__rating {
	color: #1890ff;
}

.modal__rating .anticon {
	color: unset;
}
